<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>libcurl-ios</string>
	<key>build</key>
	<dict>
		<key>location</key>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>curl/curl</string>
			<key>branch</key>
			<string>master</string>
		</dict>
		<key>buildSystem</key>
		<string>cmake</string>
		<key>buildArgs</key>
		<array>
			<string>-DCURL_STATICLIB:BOOL=ON</string>
			<string>-DBUILD_CURL_EXE:BOOL=OFF</string>
			<string>-DCURL_DISABLE_LDAP:BOOL=ON</string>
			<string>-DENABLE_THREADED_RESOLVER:BOOL=OFF</string>
			<string>-DHAVE_POSIX_STRERROR_R:BOOL=ON</string>
			<string>-DHAVE_POSIX_STRERROR_R_COMPILE:BOOL=OFF</string>
			<string>-DHAVE_GLIBC_STRERROR_R:BOOL=OFF</string>
			<string>-DHAVE_GLIBC_STRERROR_R_COMPILE:BOOL=OFF</string>
			<string>-DBUILD_TESTING:BOOL=OFF</string>
			<string>-DHAVE_FSETXATTR:BOOL=OFF</string>
			<string>-DOPENSSL_ROOT_DIR=$#BUILDROOT#</string>
		</array>
		<key>outputs</key>
		<array>
			<string>lib/libcurl.a</string>
		</array>
		<key>auxiliaryFiles</key>
		<dict>
			<key>Framework/module.modulemap</key>
			<string>include/module.modulemap</string>
		</dict>
	</dict>
	<key>dependencies</key>
	<array>
		<dict>
			<key>type</key>
			<string>github</string>
			<key>path</key>
			<string>IMcD23/libssh2-ios</string>
			<key>branch</key>
			<string>master</string>
		</dict>
	</array>
</dict>
</plist>
